body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

* {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo-black-letters {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo-title {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.menu-navigation-item-link {
    color: #2E2F42;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.50;
}

.menu-navigation-item-link:active {
    color: #404BBF;
}

.menu-navigation-item-link:hover,
.menu-navigation-item-link:focus {
    color: #404bbf;
}


.menu-contacts-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.50;
}

.address-contacts {
    font-style: normal;
}

.menu-contacts-link:active {
    color: #404BBF;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #404bbf;
}

.effective-solutions-section {
    background-color: #2E2F42;
}

.effective-solutions-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

.order-service-button {
    background-color:#4D5AE5;
    border-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.50;
    cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
}

.success-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.20;
}

.success-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.50;
}

.our-team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}

.our-team-section {
    background: #F4F4FD;
}

.our-team-menu-item {
    background-color: #FFF;
}

.team-member-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.20;
}

.team-member-profession {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.50;
}

.our-portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
}

.our-portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.our-portfolio-item-direction {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.50;
}

footer {
    background-color: #2E2F42;
}

.logo-white-letters {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.50;
}